{{ $tocDisplayMode := .Site.Params.UweUwe.Toc.DisplayMode | default "static" }}

<!DOCTYPE html>
<html lang='{{ .Site.LanguageCode | default "en-US" }}'>

    <!--
    #################
    ### PAGE HEAD ###
    #################
    -->
    {{- partial "head.html" . -}}

    <!--
    #################
    ### PAGE BODY ###
    #################
    -->
    <body data-uwe-uwe-toc-display-mode="{{ $tocDisplayMode }}">

        <!-- 
        ##################
        ### TOC BUTTON ###
        ##################
        -->
        {{- partial "toc-button.html" . -}}

        <!-- 
        ######################
        ### CONTENT HEADER ###
        ######################
        -->
        {{- partial "header.html" . -}}

        <!-- 
        ################################
        ### CONTENT NAVIGATION / TOC ###
        ################################
        -->
        {{- partial "toc.html" . -}}

        <!-- 
        ###############
        ### CONTENT ###
        ###############
        -->
        <main id="page-content">
            {{- block "main" . }}{{- end }}
        </main>

        {{- partial "body-end-js.html" . -}}
    </body>
</html>
