<head>
    <meta charset="utf-8" />
    <meta name="viewport"    content="width=device-width, initial-scale=1.0">
    <meta name="author"      content="{{ .Site.Params.UweUwe.Metadata.Author }}" />
    <meta name="description" content="{{ .Site.Params.UweUwe.ShortDesc.Value }}" />

    <title>{{ .Site.Title }}</title>

    {{ if .Site.Params.Uweuwe.Favicon.Display }}
        <link rel="icon" type="image/png" href="{{ .Site.Params.Uweuwe.Favicon.Src }}" />
    {{end}}

    {{- partial "head-js.html" . -}}
    {{- partial "head-css.html" . -}}
</head>