<header id="page-header">

    {{ if .Site.Params.UweUwe.Logo.Display }}
        <div id="page-logo-wrapper">
            <img id="page-logo" alt="Uwe Uwe Logo" src="{{ .Site.Params.UweUwe.Logo.Src }}" width="150" height="150" />
        </div>
    {{ end }}

    <h1 id="page-title">{{ .Site.Title }}</h1>

    {{ if .Site.Params.UweUwe.ShortDesc.Display }}
        <div id="page-short-desc">{{ .Site.Params.UweUwe.ShortDesc.Value }}</div>
    {{ end }}

    {{- partial "platform-links.html" . -}}
</header>