{{ if .Site.Params.UweUwe.PlatformLinks.Display }}

    {{ $displayMode := .Site.Params.UweUwe.PlatformLinks.DisplayMode | default "as-icons-and-text" }}

    <ul id="page-platform-links" class="{{ $displayMode }}">
        {{ range .Site.Params.UweUwe.PlatformLinks.Platforms }}
            {{ if .display }}
                <li>
                    <a href='{{ .target | default "#" }}' title="{{ .title }}">
                        {{ if or (eq $displayMode "as-icons") (eq $displayMode "as-icons-and-text") }}
                            <img alt="{{ .name }} icon" src="{{ .iconSrc }}" width="36" height="36" />
                        {{ end }}

                        {{ if or (eq $displayMode "as-text") (eq $displayMode "as-icons-and-text") }}
                            <span>{{ .text }}</span>
                        {{ end }}
                    </a>
                </li>
            {{ end }}
        {{ end }}
    </ul>
{{ end }}